*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

article,
aside,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

li {
  list-style: none;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: top;
}

button,
input,
select,
textarea {
  font: inherit;
}

address {
  font-style: normal;
}

::-moz-selection {
  background: var(--color);
  color: var(--white);
}

::selection {
  background: var(--color);
  color: var(--white);
}

:focus-visible {
  outline: 2px solid var(--color) !important;
  outline-offset: 2px;
}

html {
  font-size: var(--font-size);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

html.no-scroll {
  overflow: hidden;
  position: fixed;
}

body {
  background: var(--page-bg);
  color: var(--text-color);
  font-family: var(--body-font);
  font-variation-settings: "wght" var(--font-weight-normal);
  letter-spacing: var(--letter-spacing);
  line-height: var(--line-height);
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

a {
  font-weight: bold;
  color: var(--link-color);
  -webkit-transition: all 0.24s ease-out;
  transition: all 0.24s ease-out;
}

a:hover {
  opacity: 0.6;
}

a:active {
  opacity: 0.6;
}

a:focus {
  outline: none;
}

.invert {
  opacity: 0.6;
  -webkit-transition: all 0.24s ease-out;
  transition: all 0.24s ease-out;
}

.invert:hover {
  opacity: 1;
}

.invert:active {
  opacity: 1;
}

.invert:focus {
  outline: none;
}

p,
ul,
ol,
dl {
  margin-top: calc(var(--baseline) * 4 + 0.25vw);
}

blockquote,
figure,
hr,
pre,
table {
  margin-top: calc(var(--baseline) * 6 + 0.5vw);
  margin-bottom: calc(var(--baseline) * 6 + 0.5vw);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--headings-color);
  font-family: var(--heading-font);
  font-weight: var(--headings-weight);
  font-style: var(--headings-style);
  -ms-hyphens: manual;
  hyphens: manual;
  letter-spacing: var(--headings-letter-spacing);
  line-height: var(--headings-line-height);
  margin-top: calc(var(--baseline) * 6 + 1vw);
  text-transform: var(--headings-transform);
}

h1,
.h1 {
  font-size: clamp(1.5710900065rem, 1.5710900065rem + 1.424540906 * (100vw - 20rem) / 70, 2.9956309125rem);
  font-family: var(--heading-font);
  font-style: var(--h1-style);
}

h2,
.h2 {
  font-size: clamp(1.3808408252rem, 1.3808408252rem + 0.9332127447 * (100vw - 20rem) / 70, 2.3140535699rem);
}

h3,
.h3 {
  font-size: clamp(1.2136296308rem, 1.2136296308rem + 0.4621997101 * (100vw - 20rem) / 70, 1.6758293408rem);
}

h4,
.h4 {
  font-size: clamp(1.1377777785rem, 1.1377777785rem + 0.1567604947 * (100vw - 20rem) / 70, 1.2945382732rem);
}

h5,
.h5 {
  font-size: clamp(1.066666667rem, 1.066666667rem + 0.0711111115 * (100vw - 20rem) / 70, 1.1377777785rem);
}

h6,
.h6 {
  font-size: clamp(1rem, 1rem + 0 * (100vw - 20rem) / 70, 1rem);
}

h2+*,
h3+*,
h4+*,
h5+*,
h6+* {
  margin-top: calc(var(--baseline) * 2 + 0.25vw);
}

b,
strong {
  font-variation-settings: "wght" var(--font-weight-bold);
}

blockquote {
  border-top: 2px solid var(--dark);
  border-bottom: 2px solid var(--dark);
  color: var(--headings-color);
  font-family: var(--heading-font);
  font-style: italic;
  font-variation-settings: "wght" var(--font-weight-bold);
  padding: calc(var(--baseline) * 6 + 1vw) 2rem;
  font-size: clamp(1.1377777785rem, 1.1377777785rem + 0.1567604947 * (100vw - 20rem) / 70, 1.2945382732rem);
}

blockquote> :nth-child(1) {
  margin-top: 0;
}

ul,
ol {
  margin-left: 3ch;
}

ul>li,
ol>li {
  list-style: inherit;
  padding: 0 0 var(--baseline) 1ch;
}

dl dt {
  font-variation-settings: "wght" var(--font-weight-bold);
}

pre {
  background-color: var(--lighter);
  font-size: 0.8239746086rem;
  padding: calc(var(--baseline) * 6);
  white-space: pre-wrap;
  word-wrap: break-word;
}

pre>code {
  color: var(--text-color);
  display: inline-block;
  font-size: inherit;
  padding: 0;
}

code {
  background-color: var(--lighter);
  color: var(--color);
  font-size: 0.8239746086rem;
  font-family: Menlo, Monaco, Consolas, Courier New, monospace;
}

table {
  border: 1px solid var(--light);
  border-collapse: collapse;
  border-spacing: 0;
  vertical-align: top;
  text-align: left;
  width: 100%;
}

table th {
  font-variation-settings: "wght" var(--font-weight-bold);
  padding: calc(var(--baseline) * 2.5) calc(var(--baseline) * 4);
}

table td {
  border-top: 1px solid var(--light);
  padding: calc(var(--baseline) * 2.5) calc(var(--baseline) * 4);
}

.table-striped tr:nth-child(2n) {
  background: var(--lighter);
}

.table-bordered th,
.table-bordered td {
  border: 1px solid var(--light);
}

.table-title th {
  background: var(--lighter);
}

figcaption {
  clear: both;
  color: var(--gray);
  font-style: italic;
  font-size: 0.7241964329rem;
  padding: calc(var(--baseline) * 3) 0 0;
  text-align: center;
}

kbd {
  background: var(--dark);
  border-radius: 2px;
  color: var(--white);
  font-family: Menlo, Monaco, Consolas, Courier New, monospace;
  font-size: 0.8789062495rem;
  padding: calc(var(--baseline) * 0.5) calc(var(--baseline) * 1.5);
}

sub,
sup {
  font-size: 65%;
}

small {
  font-size: 0.8789062495rem;
}

hr,
.separator {
  background: none;
  border: none;
  height: auto;
  line-height: 1;
  max-width: none;
  text-align: center;
}

hr::before,
.separator::before {
  content: "•••";
  color: var(--dark);
  font-size: 1rem;
  font-variation-settings: "wght" var(--font-weight-bold);
  letter-spacing: 1.1377777785rem;
  padding-left: 1.1377777785rem;
}

.separator--dot::before {
  content: "•";
  color: var(--dark);
  font-size: 1rem;
  font-variation-settings: "wght" var(--font-weight-bold);
  letter-spacing: 1.1377777785rem;
  padding-left: 1.1377777785rem;
}

.separator--long-line {
  position: relative;
}

.separator--long-line::before {
  content: "";
  height: 1rem;
}

.separator--long-line::after {
  border-top: 1px solid var(--light);
  content: "";
  height: 1px;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
}

.btn,
[type=button],
[type=submit],
button {
  align-items: center;
  background: var(--color);
  border: 0;
  color: var(--nav-link-color);
  border-radius: calc(var(--border-radius) * 10);
  cursor: pointer;
  display: inline-flex;
  font-variation-settings: "wght" var(--font-weight-bold);
  overflow: hidden;
  padding: calc(var(--baseline) * 4) calc(var(--baseline) * 4);
  text-align: center;
  -webkit-transition: all 0.24s ease-out;
  transition: all 0.24s ease-out;
  vertical-align: middle;
  will-change: transform;
}

@media all and (max-width: 19.9375em) {

  .btn,
  [type=button],
  [type=submit],
  button {
    width: 100%;
  }
}

.btn:hover,
[type=button]:hover,
[type=submit]:hover,
button:hover,
.btn:active,
[type=button]:active,
[type=submit]:active,
button:active,
.btn:focus,
[type=button]:focus-within,
[type=submit]:focus,
button:focus {
  background: var(--color);
  color: var(--nav-link-color);
}

.btn--icon {
  gap: 0.3rem;
  justify-content: center;
}

.btn--icon svg {
  stroke: currentColor;
}

@media all and (min-width: 20em) {

  .btn+.btn,
  [type=button]+.btn,
  [type=submit]+.btn,
  button+.btn,
  .btn+[type=button],
  [type=button]+[type=button],
  [type=submit]+[type=button],
  button+[type=button],
  .btn+[type=submit],
  [type=button]+[type=submit],
  [type=submit]+[type=submit],
  button+[type=submit],
  .btn+button,
  [type=button]+button,
  [type=submit]+button,
  button+button {
    margin-left: calc(var(--baseline) * 2);
  }
}

@media all and (max-width: 37.4375em) {

  .btn+.btn,
  [type=button]+.btn,
  [type=submit]+.btn,
  button+.btn,
  .btn+[type=button],
  [type=button]+[type=button],
  [type=submit]+[type=button],
  button+[type=button],
  .btn+[type=submit],
  [type=button]+[type=submit],
  [type=submit]+[type=submit],
  button+[type=submit],
  .btn+button,
  [type=button]+button,
  [type=submit]+button,
  button+button {
    margin-bottom: calc(var(--baseline) * 2);
  }
}

.btn:disabled,
[type=button]:disabled,
[type=submit]:disabled,
button:disabled,
.btn[disabled],
[disabled][type=button],
[disabled][type=submit],
button[disabled] {
  background-color: var(--light);
  border-color: var(--light);
  color: var(--gray);
  cursor: not-allowed;
  pointer-events: none;
}

[type=button],
[type=submit],
button {
  -webkit-appearance: none;
  -moz-appearance: none;
}

::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid var(--light);
  margin: calc(var(--baseline) * 6 + 1vw) 0 0;
  padding: calc(var(--baseline) * 6);
}

fieldset>legend {
  margin-left: -1rem;
  padding: 0 1rem;
}

legend {
  font-variation-settings: "wght" 500;
  padding: 0;
}

label {
  font-variation-settings: "wght" 500;
  margin: 0 calc(var(--baseline) * 4) calc(var(--baseline) * 3) 0;
}

[type=text],
[type=url],
[type=tel],
[type=number],
[type=email],
[type=search],
textarea,
select {
  background-color: var(--page-bg);
  border: none;
  border: 1px solid var(--light);
  color: var(--text-color);
  font-size: 1rem;
  outline: none;
  padding: calc(var(--baseline) * 1.2) calc(var(--baseline) * 3);
  vertical-align: middle;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
}

@media all and (min-width: 37.5em) {

  [type=text],
  [type=url],
  [type=tel],
  [type=number],
  [type=email],
  [type=search],
  textarea,
  select {
    width: auto;
  }
}

[type=text]:focus,
[type=url]:focus,
[type=tel]:focus,
[type=number]:focus,
[type=email]:focus,
[type=search]:focus,
textarea:focus,
select:focus {
  border-color: var(--dark);
}

input[type=checkbox],
input[type=radio] {
  opacity: 0;
  position: absolute;
}

input[type=checkbox]+label,
input[type=radio]+label {
  position: relative;
  margin-left: -1px;
  cursor: pointer;
  padding: 0;
}

input[type=checkbox]+label:before,
input[type=radio]+label:before {
  background-color: var(--white);
  border: 1px solid var(--light);
  border-radius: 2px;
  content: "";
  display: inline-block;
  height: calc(var(--baseline) * 5);
  line-height: calc(var(--baseline) * 5);
  margin-right: calc(var(--baseline) * 4);
  vertical-align: middle;
  text-align: center;
  width: calc(var(--baseline) * 5);
}

input[type=checkbox]:checked+label:before,
input[type=radio]:checked+label:before {
  content: "";
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11 8'%3e%3cpolygon points='9.53 0 4.4 5.09 1.47 2.18 0 3.64 2.93 6.54 4.4 8 5.87 6.54 11 1.46 9.53 0' fill='%23d73a42'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: 11px 8px;
  background-position: 50% 50%;
}

input[type=radio]+label:before {
  border-radius: 50%;
}

input[type=radio]:checked+label:before {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3ccircle cx='4' cy='4' r='4' fill='%23d73a42'/%3e%3c/svg%3e");
}

[type=file] {
  margin-bottom: calc(var(--baseline) * 6);
  width: 100%;
}

select {
  max-width: 100%;
  width: auto;
  position: relative;
}

select:not([multiple]) {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 6 6"><polygon points="3 6 3 6 0 0 6 0 3 6" fill="%238a8b8c"/></svg>') no-repeat 90% 50%;
  background-size: 8px;
  padding-right: calc(var(--baseline) * 12);
}

select[multiple] {
  border: 1px solid var(--light);
  padding: calc(var(--baseline) * 6);
  width: 100%;
}

select[multiple]:hover {
  border-color: var(--light);
}

select[multiple]:focus {
  border-color: var(--dark);
}

select[multiple]:disabled {
  background-color: var(--light);
  cursor: not-allowed;
}

select[multiple]:disabled:hover {
  border-color: var(--light);
}

textarea {
  display: block;
  overflow: auto;
  resize: vertical;
  max-width: 100%;
}

/*** Layout ***/
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.8;
  color: var(--text-color);
  background: var(--page-bg);
  padding: 0;
  margin: 0;
}

.page {
  position: relative;
  width: 100%;
  padding: calc(30px + 6vw) 3vw;
}

@media all and (min-width: 992px) {
  .page {
    padding-left: calc(var(--navbar-width) + 3vw);
  }
}

.featured-image {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.featured-image>img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.main {
  position: relative;
  z-index: 1;
  padding: 6vw;
  margin: 0 auto;
  max-width: 100%;
  width: var(--main-width);
  background-color: var(--white);
}

.title {
  margin-top: 0;
}

.sidebar {
  width: var(--navbar-width);
  background: var(--color);
  color: var(--nav-link-color);
  text-align: center;
  padding: 13vw 3vw;
  font-weight: bold;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
  height: 100vh;
  font-family: var(--menu-font);
  font-weight: var(--headings-weight);
  transform: translateX(-100%);
  transition: all 300ms;
  max-width: calc(100vw - 100px);
}

.sidebar .icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar .close {
  display: none;
}


.sidebar.active {
  transform: translateX(0%);
}

.sidebar.active .close {
  display: flex;
}

.sidebar.active .open {
  display: none;
}

.sidebar-button {
  position: fixed;
  top: 0;
  left: calc(100% - 1px);
  z-index: 10;
}

@media all and (min-width: 992px) {
  .sidebar {
    transform: translateX(0%);
  }

  .sidebar-button {
    display: none;
  }
}


.sidebar a {
  font-weight: inherit;
  color: inherit;
  text-decoration: none;
  opacity: 0.6;

}

.sidebar .active a {
  opacity: 1;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: top;
}

#related-posts>div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5%;
}

.logo.logo {
  display: block;
  line-height: 1.2;
  margin-bottom: calc(var(--baseline) * 6);
  opacity: 1;
}

/*** CSS classes generated by Publii; a complete list of all CSS classes can be found at https://getpublii.com/dev/default-publii-classes-for-using-with-css/ ***/

/* Text alignment */
.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

.align-justify {
  text-align: justify;
}

/* Post images*/
.post__image {
  margin: 10px 0;
}

.post__image--left {
  float: left;
  margin-right: 25px;
  max-width: 45%;
  border-radius: 100%;
  overflow: hidden;
}

.post__image--right {
  float: right;
  margin-left: 25px;
  max-width: 45%;
  border-radius: 100%;
  overflow: hidden;
}

.post__image--center {
  margin: 0 auto;
}

.post__image--wide {
  width: 100%;
}

.post__image--full {}

/* Post video*/
.post__video {}

/* Post video*/
.post__iframe {}

/* Table of content*/
.post__toc {}

/* Separator - option represented by the <hr> element, available by all editors; additionally the block editor generates three classes for <hr> element to have a different look */
hr {}

.separator--dot {}

.separator--dots {}

.separator--long-line {}